* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --fc-color-primary: #FFF;

  --basic-color: 194;
  --primary-color: hsl(var(--basic-color), 100%, 63%);
  --primary-color-light: hsla(var(--basic-color), 100%, 63%, 0.13);

  font-size: 62.5%;
}

body {
  background: var(--bg-color);

  font-family: 'Roboto', sans-serif;

  display: grid;

  min-height: 100vh;
}

main {
  justify-self: center;
  align-self: end;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

footer {
  justify-self: end;
  align-self: end;

  padding: 0 2rem 2rem 0;
}

button {
  background: transparent;
  border: 0;

  cursor: pointer;
}

.hide {
  display: none;
}

#timer {
  color: var(--fc-color-primary);

  font-size: clamp(2rem, 3rem + 11vw, 8.8rem);
  display: flex;
}

#controls {
  background: var(--primary-color-light);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  border-radius: 9999px;

  width: clamp(10.4rem, 10rem + 20vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}